*{
	font-family: 'Montserrat', Helvetica, sans-serif;
}

body{
	background-image: url("../img/plane.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;	
}


.ui-datepicker {
	background: #333;
	border: 1px solid #555;
	color: #EEE;
	cursor: pointer;
}
.ui-helper-hidden-accessible {
	display:none;
}

.tripbox{
	border: 3px solid white;
	padding: 12px;
}

#dpReturn, #dpOneWay{
	display: none;
	margin-top: 15px;
	margin-right: 15px;
}


.hidden{
	display: none;
}



button[id^=next], button[id^=prev], .errors{
	margin: 15px 15px 0 0;
}



.add{
	margin: 0 15px 15px 15px;
}

.save, .rem{
	margin: 0 10px 0 15px;
}

#origin label, #origin input,
#destination label, #destination input,
#tripType label, #tripType input,
#depDate label, #depDate input,
#returningDate label, #returningDate input,
#from label, #from input,
#to label, #to input,
{
	display:inline-block;
}

a:link, a:visited, a:hover, a:active {
	color: white;
}

input[name="travelType"]{
	margin-bottom: 15px;
	margin-right: 15px;
}

